# Dependency directories
node_modules/
package-lock.json

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env

# nuxt.js build output
.nuxt

# Nuxt generate
dist

# Serverless directories
.serverless

# Service worker
sw.*

# Reference File
reference.txt